#Title {
    text-align: center;
    width: 20%;
    border: solid;
    margin: auto;
    border-radius: 25%;
    padding: 20px;
    font-size: 56px;
    background-color: #f0f0f0;
  }
  

  
  #Start_Game {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 920px;
    font-size: 20px;
    border: solid;
    border-radius: 25%;
  }

  #Container1header {
    text-align:center;
  }
  
  #manStatHeader{
    text-align: center;
  }
  
  .container2 {
    position: relative;
    flex-direction: column;
    width: 1200px; 
    height: 510px;
    padding: 20px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }
  
  #images {
    display: block;
    text-align:center;
    height: 500px;
    width: 500px;
    border: solid;
    border-radius: 5%;
    position: absolute;
    left: 0;
    margin-left: 100px
  }
  
  #man_image {
    margin-left: 50px;
    height: 400px;
    width: 400px;
  }
  
  #user_input {
    display: inline-block;
    width: 500px;
    height: 500px;
    border: solid;
    border-radius: 5%;
    position: absolute;
    left: 650px;
  }

  #Container2header {
    text-align:center;
  }

  label{
    margin-left: 50px;
  }

  #userGuesses {
    text-align: center;
    border: solid;
    height: 100px;
    width: 75%;
    margin-left: 50px;
    margin-top: 250px;  
    border-radius: 10%;
    font-size: 30px;

  }
  
  #guessesRemaining {
    text-align: center;
    border: solid;
    height: 100px;
    width: 150px;
    margin-top: -250px;
    margin-left: 170px


  }
  
  .container3 {
    position: relative;
    width: 700px;
    height: 120px;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
  }
  
  #game_status {
    display: inline-block;
    text-align: center;
    border: solid;
    width: 100px;
    height: 50px;
    font-size: 20px;
    padding: 5px;
    position: absolute;
    left: 20%;
    transform: translateX(-50%);
    margin-top: 20px;
    border-radius: 25%;
  }
  
  #progress {
    display: inline-block;
    text-align: center;
    border: solid;
    width: 100px;
    height: 50px;
    font-size: 20px;
    padding: 5px;
    position: absolute;
    left: 70%;
    margin-top: 20px;
    border-radius: 25%;
  }
 
  
  
  
  
  
  
  